@charset="utf-8"; 

#top {
	background: linear-gradient(to right,  #153a60 0%,#1d548a 50%,#266db4 100%);
	width: 900px;
	height: 80px;
	margin: auto;
	text-align: right;
}
#top img {
	margin: 10px 15px 0px 0px;
}
#header {
	height: 400px;
	width: 800px;
	background: url("../img/paper_people.png");
	background-size: cover;
	margin: 10px auto 0 auto;
}
#header h1 {
	font-family: "Questrial", sans-serif;
	font-size: 32px;
	color: #1d548a;
	text-align: right;
}
#header h1 span {
	background: linear-gradient(to right,  #153a60 0%,#1d548a 50%,#266db4 100%);
	color: #fff;
}
#header h2 {
	font-family: "Questrial", sans-serif;
	font-size: 20px;
	color: #266db4;
	margin: 240px 0 0 20px;
}

/*Content*/
#content1 {
	width: 800px;
	overflow: auto;
	background: #dfdfd6;
	margin: 20px auto;
}
#content1 > h2 {
	font-family: "Questrial", sans-serif;
	font-size: 20px;
	color: #1d548a;
	text-align: center;
	padding-top: 20px;
}
#content1 > p {
	font-family: "Questrial", sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	padding: 0 90px 0 90px;
}


#content2 {
	width: 800px;
	overflow: auto;
	background: #dfdfd6;
	margin: 20px auto;
}
#content2 > h2 {
	font-family: "Questrial", sans-serif;
	font-size: 20px;
	color: #1d548a;
	text-align: center;
	padding-top: 20px;
}
#content2 > p {
	font-family: "Questrial", sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	padding: 0 90px 0 90px;
}


#content3 {
	width: 800px;
	overflow: auto;
	background: #dfdfd6;
	margin: 20px auto;
}
#content3 > h2 {
	font-family: "Questrial", sans-serif;
	font-size: 20px;
	color: #1d548a;
	text-align: center;
	padding-top: 20px;
}
#content3 > p {
	font-family: "Questrial", sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	padding: 0 90px 0 90px;
}


/*SCANNERS*/
.scanners {
	width: 400px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.scanners > h2 {
	font-family: "Questrial", sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
}
.scanners p {
	font-family: "Questrial", sans-serif;
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding: 0 20px;
}



/*BUTTON*/
#content1 .button {
	height: 26px;
	width: 65px;
	background: #1d548a;
	text-align: center;
	margin: auto;
}
#content1 .button h2 {
	font-family: "Questrial", sans-serif;
	font-size: 16px;
	color: #ffffff;
	padding-top: 4px;
}
#content2 .button {
	height: 26px;
	width: 65px;
	background: #1d548a;
	text-align: center;
	margin: auto;
}
#content2 .button h2 {
	font-family: "Questrial", sans-serif;
	font-size: 16px;
	color: #ffffff;
	padding-top: 4px;
}
#content3 .button {
	height: 26px;
	width: 65px;
	background: #1d548a;
	text-align: center;
	margin: auto;
}
#content3 .button h2 {
	font-family: "Questrial", sans-serif;
	font-size: 16px;
	color: #ffffff;
	padding-top: 4px;
}
	
