@charset="utf-8"; 
/** {
	border: 1px solid black;
}*/
#top {
	background: linear-gradient(to right,  #153a60 0%,#1d548a 50%,#266db4 100%);
	width: 900px;
	height: 80px;
	margin: auto;
	text-align: right;
}
#top img {
	margin: 10px 15px 0px 0px;
}
header {
	height: 400px;
	width: 800px;
	background: url("../img/paper_people.png");
	background-size: cover;
	margin: 30px auto 0 auto;
	text-align: right;
}
header h1 {
	background: linear-gradient(to right,  #153a60 0%,#1d548a 50%,#266db4 100%);
	color: #fff;
	font-family: "Questrial", sans-serif;
	font-size: 32px;
	display: inline;
	padding: 3px 8px;
}
header h2 {
	font-family: "Questrial", sans-serif;
	font-size: 32px;
	color: #1d548a;
	padding-right: 5px;
	line-height: 0px;
}
#div1 {
	height: 50%;
	text-align: left;
}
#div1 h2 {
	font-family: "Questrial", sans-serif;
	font-size: 22px;
	color: #266db4;
	line-height: 25px;
	padding: 220px 0 0 20px;
}


/*Content*/
.content {
	width: 800px;
	overflow: auto;
	background: #dfdfd6;
	margin: 20px auto;
}
.content > h2 {
	font-family: "Questrial", sans-serif;
	font-size: 20px;
	color: #1d548a;
	text-align: center;
	padding-top: 20px;
}
.content > p {
	font-family: "Questrial", sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	padding: 0 90px 0 90px;
}


/*SCANNERS*/
.scanners {
	width: 50%;
	float: left;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
.scanners > h2 {
	font-family: "Questrial", sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
}
.scanners p {
	font-family: "Questrial", sans-serif;
	font-size: 16px;
	color: #000000;
	text-align: center;
	padding: 0 20px;
}



/*BUTTON*/
a {
	font-family: "Questrial", sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	background: #1d548a;
	padding: 3px 7px;
}
a:hover {
	color: #dfdfd6;
}





